
h1 {
  padding: 50px;
}

h2 {
  font-size: 150%;
  text-align: left;
  text-indent: 2cm;
  font-family: system-ui, 'Gill Sans Light', Georgia, Times, 'Times New Roman', serif;
  display: flex;
  align-items: center;
  color: rgb(94, 94, 94);
  padding: 50px
}

h3 {
  font-size: 150%;
  text-align: left;
  text-indent: 2cm;
  font-family: system-ui, 'Gill Sans Light', Georgia, Times, 'Times New Roman', serif;
  display: flex;
  align-items: center;
  color: rgb(94, 94, 94);
}

.profilePicture {
  padding-right: 50px;
}

.shiPic {
  padding-right: 25px;
}

.stJohnsPic {
  padding-top: 50px;
  padding-left: 300px;
}

.pershing {
  padding-top: 150px;
}

.rutgers {
  padding-top: 220px;
}

a {
  color: white
}

@font-face {
  font-family: system;
  font-style: light;
  src: local(".GillSans-Light")
}